/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'FontinRegular';
	src: url('../type/Fontin-Regular.otf');
}

@font-face {
	font-family: 'FontinSansRegular';
	src: url('../type/Fontin_Sans_R_45b.otf');
}

@font-face {
	font-family: 'FontinSansBold';
	src: url('../type/Fontin_Sans_B_45b.otf');
}

@font-face {
	font-family: 'Museo100Regular';
	src: url('../type/Museo100-Regular.otf');
}

@font-face {
	font-family: 'Museo300Regular';
	src: url('../type/Museo300-Regular.otf');
}

/* @group General */

html, body {
	background-color: #c2efff;
	font-family: "FontinRegular", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
	min-height: 100%;
	width: 100%;
	color: #586c78;
	font-weight: 300;
	font-size: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 130px;  /* footer height + some extra */
}

/*Opera footer Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}

section h1 {
	font-weight: 500;
	font-size: 32px;
	margin: 1em 0 0.3em;
	text-shadow: #fff 0 1px 0;
}

section h2 {
	font-weight: 500;
	font-size: 20px;
	margin: 1.5em 0 0.5em;
	text-shadow: #fff 0 1px 0;
}

section h3 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7ea1ad;
	text-transform: uppercase;
	text-shadow: #fff 0 1px 0;
	margin: 1.5em 0 0.5em;
}

h3 {
    margin-bottom: 0.5em;
}

p {
	color: #586c78;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0.6em 0;
}

ul {
	color: #586c78;
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 1.0em;
	list-style-type: square;
	list-style-position: outside;
}

section a:link, section a:visited {
	border-bottom: 1px dotted #BD1550;
	color: #BD1550;
	text-decoration: none;
}

section a:hover {
	border-bottom: 1px solid #BD1550;
}

strong {
	font-weight: 700;
}

sup {
	padding-left: 1px;
	font-weight: lighter;
	font-size: 0.7em;
	vertical-align: super;
	line-height: 1.0em;
	text-decoration: underline;
}

hr {
	border-color: #addded;
	background-color: #dff6ff;
}

/* @end */

/* @group Navigation */

#nav_wrap {
	padding-top: 10px;
}

#nav_primary ul {
	list-display: none;
	margin: 0;
	padding: 0;
}

#nav_primary ul li {
	list-style: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 40px;
}

#nav_primary ul li:first-child {
	margin-left: 0;
}

#nav_primary ul li a {
	text-decoration: none;
	border: 0;
	font-size: 20px;
	font-family: "Museo300Regular", sans-serif;
	color: #666;
	border-bottom: 1px solid #999;
}

#nav_primary ul li a:hover {
	color: #333;
	border-bottom-color: #666;
}

/* @end */

/* @group Masthead */

#masthead_wrap {
	height: 150px;
	overflow: hidden;
	width: 100%;
/*	background: url(../img/masthead_bg.png) repeat-x left 0;*/
	margin: 0 auto;
	padding: 0;
	position: relative;
/*	background: rgba(220, 220, 220, 0.5);*/
	background-color: #daeeff;
	border-bottom: 1px solid #ccc;
}

#masthead {
	width: 960px;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#masthead h1 {
	margin: 40px 10px 0 10px;
	float: left;
	font-size: 72px;
	width: 500px;
	font-family: "FontinSansBold", sans-serif;
}

#masthead h1 a, #masthead h1 a:visited, #masthead h1 a:hover {
	display: block;
	color: #0599ee;
	text-decoration: none;
/*	text-indent: -9999px;*/
/*	background: url(../img/masthead_berlin_2010.png) no-repeat right center;*/
}

#masthead h1 a:hover {
	text-decoration: none;
	color: auto;
}

#masthead #nav_primary {
	margin: 40px 40px 0 0;
	float: right;
	width: 350px;
}

/* @end */

/* @group Elsewhere */

#elsewhere 						{ height: 50px; background: #efefff; margin-top: 20px; border: 1px solid #ccc; -webkit-box-shadow: 2px 2px 2px #bbb; -webkit-border-radius: 8px; -moz-box-shadow: 2px 2px 2px #bbb; -moz-border-radius: 8px; box-shadow: 2px 2px 2px #bbb; border-radius: 8px;}
#elsewhere section.title		{ font-size: 28px; font-family: "Museo300Regular", sans-serif; margin-top: 12px; }
#elsewhere ul 					{ list-style: none; padding: 0; width: 245px; margin: 0 auto; }
#elsewhere ul li 				{ display: inline; }
#elsewhere ul li a				{ height: 0; padding-top: 32px; overflow: hidden; float: left; width: 32px; border: 0; margin-right: 3px; background: url("../img/icons/social/email_32.png") left center no-repeat; }
#elsewhere ul li.lastfm a		{ background-image: url("../img/icons/social/lastfm_32.png"); }
#elsewhere ul li.facebook a		{ background-image: url("../img/icons/social/facebook_32.png"); }
#elsewhere ul li.flickr a		{ background-image: url("../img/icons/social/flickr_32.png"); }
#elsewhere ul li.linkedin a		{ background-image: url("../img/icons/social/linkedin_32.png"); }
#elsewhere ul li.twitter a		{ background-image: url("../img/icons/social/twitter_32.png"); }
#elsewhere ul li.technorati a	{ background-image: url("../img/icons/social/technorati_32.png"); }
#elsewhere ul li.bitbucket a	{ background-image: url("../img/icons/social/bitbucket_32.png"); }
#elsewhere ul li.github a		{ background-image: url("../img/icons/social/github_32.png"); }

/* @end */

#portrait {
	position: relative;
	bottom: 20px;
}

/* @group Footer */

body>footer {
	background-color: #daeeff;
	border-top: 1px solid #ccc;
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
}

body>footer #copyright {
	margin-top: 30px;
}

/* @end */
